<a href="/"> Home </a>
<a href="/about"> About </a>
<a href="/profile" <%= hiddenOUT %>>Profile</a>
<a href="/register"<%= hiddenIN %>> Register </a>
<a href="/login" <%= hiddenIN%>> Login </a>
<a href="/logout"<%= hiddenOUT %>> Logout </a>
