<%- include('partials/header') %>
<!-- Should probably show recent / recent popular movies -->
<%- include('partials/loggoutnavbar') %>
<div class="confMsg"> We have sent an email to <%= confMsg %>. </div>
<h4> Please enter the email of the user to send a recovery email to. </h4>
<form action="/forgot" method="POST">
    <label for="email">Email</label>
    <input type="email" name="email" required>
  <button type="submit" class="btn btn-dark">Submit</button>
</form>
<%- include('partials/footer') %>
