<%- include('partials/header') %>
<%- include('partials/navbar') %>

<!-- Should probably show recent / recent popular movies -->
<!-- Use a carousel to display relevant movies -->

<h1 style="text-align:center">Welcome to MoviesMan!</h1>
<h2 style="text-align:center">Highest Rated Movies:</h2>
<h2 style="text-align:center"> Most Liked Movies: </h2>
<h2 style="text-align:center">Recently Liked Movies:</h2>
<h2 style="text-align:center"> Recent Ratings and Reviews: </h2>


<%- include('partials/footer') %>
