<%- include('partials/header') %>
<!-- Should probably show recent / recent popular movies -->
<%- include('partials/loggoutnavbar') %>
<div class="errorMessage"><%= errorMsg %></div>
<form action="/login" method="POST">
    <label for="email">Email</label>
    <input type="email" name="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" required>
  <button type="submit" class="btn btn-dark">Login</button>
</form>

<%- include('partials/footer') %>
