<%- include('partials/header') %>
<!-- Should probably show recent / recent popular movies -->
<a href="/" > Home </a>
<a href="/about"> About </a>
<a href="/register"> Register </a>


<%- include('partials/footer') %>
