<%- include('partials/header') %>
<!-- Should probably show recent / recent popular movies -->
<%- include('partials/loggoutnavbar') %>
<h4> <%= toRemovUser %> has been logged out. </h4>
<%- include('partials/footer') %>
