<%- include('partials/header') %>
<!-- Should probably show recent / recent popular movies -->
<%- include('partials/loginnavbar') %>
<h4><%= profuser %>'s page</h4>
<%- include('partials/footer') %>
