<%- include('partials/header') %>
<!-- Should probably show recent / recent popular movies -->
<%- include('partials/navbar') %>
<div class="errorMessage" <%= errHidden %>> There were no results. </div>
<div class="card" style="color:black; text-align: center; width: 75%; left: 12.5%">
<div class="card-header">
<h1> Search Page </h1>
</div>
<div class="card-body">
<form action="/search" method="GET">
    <label for="title"><h2>Name of Movie:</h2></label><br>
    <input type="input" name="title" placeholder="Enter Movie Title ..." required><br><br>
  <button type="submit" class="btn btn-info btn-lg">Submit</button>
</form>
</div>
</div>
<%- include('partials/footer') %>
