body{
  background-color: black;
  color: white;
}
.errorMessage{
  background-color: red;
  color: white;
  text-align: center;
}
.confMsg{
  background-color: green;
  color: white;
    text-align: center;
}
.navBar{
  background-color: pink;
  color: black
}

.moviePoster{
  height:500px;
  width:auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin: 0 auto;
}

.rbImg{
  max-height: 300px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin: 0 auto;
}

.card-header{
  color: black;
  text-align: center;
}
.card-footer{
  color: black;
  text-align: center;
}
.ratingsIcon{
  height: 60px;
  width: auto;
}
/* .card{
  color:black;
  height: 450px
} */
