<%- include('partials/header') %>
<!-- Should probably show recent / recent popular movies -->
<a href="/about"> About </a>
<a href="/register"> Register </a>
<a href="/login"> Login </a>

<%- include('partials/footer') %>
